@charset "UTF-8";
:root {
  /*basic colors
  -----------------------------------*/
  /*全体背景色用*/
  --primary-color:#1c1c1c;
  --secondary-color:#000000;
  --accent-color:#fff450;
  /*文字色*/
  --primary-font-color:#dddddd;
  --secondary-font-color:#202020;
  --tertiary-font-color:#aaaaaa;
  /*ボーダー*/
  --border-primary:#dddddd;
  /*z-index*/
  --login-z-index:1001;
  --loading-z-index:1000;
  --modal-z-index:999;
  --master-z-index:997;
}

/*common part
-----------------------------------*/
.light-mode {
  /*全体背景色用*/
  --primary-color:#f4f5f7;
  --secondary-color:#ebebeb;
  --accent-color:#3268a8;
  /*文字色*/
  --primary-font-color:#202020;
  --secondary-font-color:#edf1f5;
  --tertiary-font-color:#101010;
  /*ボーダー*/
  --border-primary:#101010;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-family: "Noto Sans JP", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
body div {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
body button {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
body select {
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
body tr {
  height: 30px;
}
body hr {
  background-color: var(--border-primary);
}

.header {
  font-size: 20px;
  font-weight: bolder;
  background-color: var(--accent-color);
  width: 100vw;
  height: 7dvh;
  display: flex;
  box-shadow: 0px 4px 7px -5px #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
.header p {
  margin: auto 20px;
  color: var(--secondary-font-color);
  transition: background-color 0.3s ease, color 0.3s ease !important;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}

.contents {
  background-color: var(--primary-color);
  /*画面いっぱいに広げる*/
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  /*------------------*/
}

.input-narrow {
  width: 12%;
}

.input-mid {
  width: 60%;
}

.input-wide {
  width: 80%;
}

.alert {
  font-size: smaller;
  color: #f00;
}

.note {
  font-size: 8.5px;
}

/*メニューをページ下部に固定*/
#footer-menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-size: 0;
  opacity: 0.9;
  height: 8dvh;
  display: flex;
}
#footer-menu div {
  width: 25vw;
  height: 100%;
}
#footer-menu div button {
  width: 100%;
  height: 100%;
  border: none;
}

/*Home
-----------------------------------*/
#home {
  display: flex;
  flex-direction: column;
}

#home-image-container {
  box-sizing: border-box;
  width: 90vw;
  margin: 20px auto;
}
#home-image-container img {
  margin: auto;
  width: 100%;
}
#home-image-container #image-not-selected {
  height: 30dvh;
  width: 100%;
  border: 1px white dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-info-container {
  width: 90%;
  margin: 0 auto;
  height: 40dvh;
}
#home-info-container dd {
  text-align: right;
  font-size: larger;
  height: 22px;
}

/*Maintenance・Custom
-----------------------------------*/
.table-container {
  max-height: 78dvh !important; /* footer8dvh + condition7dvh + header7dvh */
  overflow-y: auto; /* 垂直方向のみスクロール可能にする */
}
.table-container table {
  border-collapse: collapse;
}
.table-container table td {
  box-sizing: border-box;
}

.condition-container {
  width: 100vw;
  height: 7dvh;
  border-bottom: var(--border-primary) 1px solid;
  display: flex;
  justify-content: space-between;
}
.condition-container button {
  width: 12vw;
}
.condition-container .passed-days-button {
  width: 48vw;
}
.condition-container select {
  width: 40vw !important;
  border: var(--border-primary) 1px solid;
  width: auto;
}
.condition-container .custom-sort {
  width: 20% !important;
}

.item-td {
  width: 60vw;
  height: 16px;
}

.date-td {
  width: 14vw;
  font-size: 10px;
  border-bottom: var(--border-primary) 1px solid;
}

.price-td {
  text-align: center;
  width: 14vw;
  font-size: 12px;
  border-bottom: var(--border-primary) 1px solid;
}
.price-td p::before {
  content: "¥";
}

.note-td {
  font-size: 10px;
  color: var(--tertiary-font-color);
  border-bottom: var(--border-primary) 1px solid;
}

.button-td {
  border-bottom: var(--border-primary) 1px solid;
  padding: 0;
}

.button-area {
  width: 12vw;
  display: flex;
  flex-direction: column;
}
.button-area button {
  background-color: var(--secondary-color);
  height: 30px;
}

.modal {
  font-size: 18px;
  z-index: var(--modal-z-index);
  border: var(--border-primary) 1px solid;
  background-color: var(--primary-color);
  height: auto;
  width: 70vw;
  max-height: 70dvh;
  padding: 40px;
  /*画面ど真ん中に配置*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: modal-gradually-appear;
          animation-name: modal-gradually-appear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  line-height: 25px;
}
.modal input {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  border: var(--border-primary) 1px solid;
}
.modal select {
  border: var(--border-primary) 1px solid;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  width: auto;
}

.modal-btns {
  margin-top: 20px;
  text-align: right;
}
.modal-btns button {
  margin-left: 10px;
  width: 110px;
  height: 30px;
}

#confirmation {
  font-size: 16px;
}
#confirmation p {
  margin: 0;
}

#cover-display {
  background-color: black;
  inset: 0;
  position: fixed;
  opacity: 0.7;
  z-index: calc(var(--modal-z-index) - 1);
  -webkit-animation-name: cover-gradually-appear;
          animation-name: cover-gradually-appear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes cover-gradually-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes cover-gradually-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
.modal-title {
  text-align: center;
}

.passed-days {
  width: 70vw;
  height: 40vh;
}

#total-container {
  border: var(--border-primary) 1px solid;
  width: 48vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#total-container p::before {
  content: "Total ¥";
}

#passed-days-container {
  max-height: 30dvh;
  min-height: 30dvh;
  font-size: 14px;
  overflow-y: auto; /* 垂直方向のみスクロール可能にする */
}
#passed-days-container table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
#passed-days-container table td {
  box-sizing: border-box;
}

@-webkit-keyframes modal-gradually-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-gradually-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Settings
-----------------------------------*/
#settings-main {
  display: flex;
  flex-direction: column;
  height: 78dvh;
  justify-content: space-around;
  align-items: center;
}
#settings-main button {
  font-size: 16px;
  width: 50vw;
  height: 60px;
}

.dummy {
  height: 60px;
}

#master-area {
  z-index: var(--master-z-index);
  border: var(--border-primary) 1px solid;
  background-color: var(--primary-color);
  width: 90vw;
  height: 70dvh;
  /*画面ど真ん中に配置*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#master-area .name-td {
  height: 16px;
  width: 68vw;
}
#master-area #button-area-master {
  display: flex;
  flex-direction: row-reverse;
}
#master-area #button-area-master button {
  font-size: 16px;
  width: 120px;
  height: 6dvh;
}

#master-table-container {
  max-height: 60dvh !important;
  overflow-y: auto;
}
#master-table-container table {
  width: 100%;
  border-collapse: collapse;
}
#master-table-container td, #master-table-container th {
  border: var(--border-primary) 1px solid;
}
#master-table-container th {
  font-size: smaller;
}
#master-table-container td {
  text-align: center;
  font-size: 13px;
}

.alert-threshold-days::after {
  content: "日";
}

#notification {
  font-size: smaller;
}

/*ログイン
-----------------------------------*/
#log-in {
  background-color: var(--primary-color);
  /*画面いっぱいに広げる*/
  position: fixed;
  inset: 0;
  z-index: var(--login-z-index);
  /*------------------*/
  text-align: center;
}
#log-in div {
  line-height: 40px;
}
#log-in button {
  margin-top: 20px;
  height: 35px;
  width: 120px;
}

/*ロード中表示
-----------------------------------*/
#loader {
  background: var(--primary-color);
  z-index: var(--loading-z-index);
  position: fixed;
  inset: 0;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader p {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  -webkit-animation: l2 2s ease-out forwards;
          animation: l2 2s ease-out forwards;
}

@-webkit-keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}

@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}
.hidden {
  -webkit-animation: disappear 1s forwards;
          animation: disappear 1s forwards;
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .header, .condition-container, .contents {
    width: 800px !important;
  }
  #footer-menu div {
    width: 200px;
  }
  #home-image-container {
    width: 600px;
    margin: 20px auto;
  }
  #home-image-container img {
    margin: auto;
    width: 100%;
  }
  #home-image-container #image-not-selected {
    height: 30dvh;
    width: 100%;
    border: 1px white dashed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */